/* 
    Created on : 22.AUG.2015, 00:16:10
    Author     : Ekin YUCEL
    Version    : 1.5
*/
body { padding-top:60px; padding-bottom:40px; background-color: #f5f5f5;}
a { text-decoration:none; color:#5E5D5A; }
a:hover { text-decoration:none; }

.clear { float:none; }

.white { color:#fff; }
.dropdown .notification {
  background-color: #f68484;
  border-radius: 10px;
  font: bold 11px Arial;
  color: #ffffff;
  line-height: 15px;
  min-width: 15px;
  position: absolute;
  top: 6px;
  right: 4px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  padding-left: 4px;
  padding-right: 4px;
}
.notifired { width:10px; padding:2px; margin-left:5px; color:#fff; background-color:#FF5959; border-radius: 5px;}
.notifiongoing { width:10px; padding:2px; margin-left:5px; color:#fff; background-color:#4AE342; border-radius: 5px;}

.divider { height:10px; }

/* navbar top links start */
.navbar-top-links { margin-right: 0;}
.navbar-top-links li {display: inline-block;}
.navbar-top-links li:last-child {  margin-right: 15px;}
.navbar-top-links li a { padding: 15px; min-height: 50px;}
.navbar-top-links .dropdown-menu li { display: block;}
.navbar-top-links .dropdown-menu li:last-child { margin-right: 0;}
.navbar-top-links .dropdown-menu li a { padding: 3px 20px;min-height: 0;}
.navbar-top-links .dropdown-menu li a div { white-space: normal;}
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {  width: 310px;  min-width: 0;}
.navbar-top-links .dropdown-messages {  margin-left: 5px;}
.navbar-top-links .dropdown-tasks { margin-left: -59px;}
.navbar-top-links .dropdown-alerts { margin-left: -123px;}
.navbar-top-links .dropdown-user { right: 0; left: auto;}
/* navbar top links end*/

.cn-sidenav {
  max-width:250px;
  margin:0 0 0 0;
  padding:0;
  background-color: #fff;
  border:1px solid rgba(0,0,0,.065);
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
  -moz-border-radius: 15px;
}

.activeside { background-color: #0275d8; }
.activeside a { color:#fff; }

.cn-sidenav > li > a { display: block; margin: 0 0 -1px; padding: 8px 14px; border: 1px solid #e5e5e5; }
.cn-sidenav .icon-right { float: right; margin-top: 2px; margin-right: -6px; }
.cn-sidenav > li > a:hover {  background-color:#0275d8; color:#fff; }
.cn-sidenav.affix { top: 40px; }
.cn-sidenav.affix-bottom { position: absolute; top: auto; bottom: 270px; }

.profile { margin-top:20px; border:1px solid #e5e5e5; width:250px; background-color:#fff; padding:20px 20px 20px 20px; }
.profile img { width:86px; height:86px; border-radius: 10px; }

.pro-left { width:80px; margin-right: 10px; float:left; }
.pro-right { float:right; width:89px; }

.search { width:228px; background-color:#fff; }

.badge-success { background-color:#5cb85c; color:#fff; } 
.badge-info { background-color:#31b0d5; color:#fff; }
.badge-warning { background-color:#f0ad4e; color:#fff; }

/* index content */
.icontent { margin-top:10px; margin-right:10px; margin-left:-10px;}
.breadcrumb { margin: 0 0 0px; padding: 10px 0px; background-color: transparent; }
.breadcrumb li a { color:#555; }
.breadcumb .active { color:#777; text-decoration:underline; }

.bred { background-color:#F57171; }
.bblue { background-color:#8ED1E8; }
.bgreen { background-color:#8EE89B; }
.bbrow { background-color:#E8C88E; }

.hdata{	display: inline-block; width: 85px; margin-right: 15px; }
.hdata i{ display: inline-block; height: 40px; width: 40px; line-height: 40px; font-size: 17px; text-align: center;
	color: #fff;
	border-radius: 50px;
	box-shadow: inset 0px 0px 1px #777;
}
.hdata p, header .header-data .hdata a, header .header-data .hdata a:hover{ display: block; line-height: 16px;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	margin-top: 3px;
	color: #5E5D5A;
}
.hdata em{display: block; font-weight: normal; font-style: normal; font-size: 12px; }
.mcol-left{ width: 48%; float: left; } 
.mcol-right{ width: 48%; float: right; }

/* stats */
.panel-stat3
{    
    position:relative;overflow:hidden;padding:25px 20px;margin-bottom:20px;color:#fff;
    cursor:pointer;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px
}
.panel-stat3 .stat-icon{ position:absolute;top:20px;right:10px;font-size:30px;opacity:.3 }
.panel-stat3 .refresh-button{position:absolute;top:10px;right:10px;
               transition:all .2s ease;-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-ms-transition:all .2s ease;-o-transition:all .2s ease;
               color:rgba(0,0,0,.3)
}
.panel-stat3 .refresh-button:hover{color:#fff;transition:all .2s ease;-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-ms-transition:all .2s ease;-o-transition:all .2s ease}

/* icon image sizes */
.stat-icon .glyphicon.glyphicon-user { font-size:2.2em; }
.stat-icon .glyphicon.glyphicon-hdd { font-size:2.2em; }
.stat-icon .glyphicon.glyphicon-stats { font-size:2.2em; }
.stat-icon .glyphicon.glyphicon-download { font-size:2.2em; }
.stat-icon .glyphicon.glyphicon-tasks { font-size:2.2em; }
.stat-icon .glyphicon.glyphicon-comment { font-size:2.2em; }
.stat-icon .glyphicon.glyphicon-exclamation-sign { font-size:2.2em; }
.stat-icon .glyphicon.glyphicon-bullhorn { font-size:2.2em; }

/* ################# */

/* icon state backgrounds */
.regus { background-color:#fc8675!important; }
.serlod { background-color:#6bafbd!important; }
.totvisit { background-color:#65cea7!important; }
.topdown { background-color:#D2E3D1!important; }
.tasks { background-color:#f0ad4e!important; }
.comm { background-color:#DE9EDA!important; }
.error { background-color:#F2F057!important; }
.ads { background-color:#81CCDB!important; }

/* #################################3 */
.loading-overlay{ position:absolute;  top:0; right:0; bottom:0; left:0; background:rgba(0,0,0,.4); padding:50px 50px 50px 100px; }
.loading-overlay.active{ display:block; }
.loading-overlay.loading-icon{ position:absolute; top:40%; left:50%; color:#fff; animation:spin .8s infinite linear;-webkit-animation:spin .8s infinite linear;-moz-animation:spin .8s infinite linear;-ms-animation:spin .8s infinite linear;-o-animation:spin .8s infinite linear; }

/* block */
.block { border: 1px solid #ccc; background-color:#fff;	margin:0 10px 0 10px; padding:0; }
.block.blockspace { margin-top:15px; }
.block a:hover { text-decoration:none; color:#fff; }
.block-content { margin: 1em; min-height: .25em; background-color:#fff;  }
.block-header 
{
    background-color: #f8f8f8;  
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2));  
	background: -webkit-linear-gradient(top, #f8f8f8, #f2f2f2);  
	background: -moz-linear-gradient(top, #f8f8f8, #f2f2f2);  
	background: -ms-linear-gradient(top, #f8f8f8, #f2f2f2);  
	background: -o-linear-gradient(top, #f8f8f8, #f2f2f2);  
	background: linear-gradient(top, #f8f8f8, #f2f2f2);	  
	border-top-right-radius: 3px;  
	border-top-left-radius: 3px;  
	text-shadow:0px 1px #fff;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	color: #666;
	font-size: 13px;
	font-weight: bold;   
	/*padding: 8px 15px;*/
	padding:10px 5px 10px 10px;
}
.block .block-header .block-icons i{ font-size: 14px; margin: 0px 4px; }
.block .block-header .block-icons a{ color: #aaa; }
.block .block-header .block-icons a:hover{ color: #999; }
.block .block-header .block-icons i{ font-size: 14px; margin: 0px 4px; }
.block-footer { padding:0 10px 5px 0; color:#ccc; }

/* CHARTS */
.chart-bottom-heading { margin-left:25px; }
/* ################################ social box ################################ */

.socialbox 
{
  margin:10px 10px 0 10px;
  min-height: 160px;
  border: 1px solid #d4d4d4;
  background: white;
  margin-bottom: 30px;
  text-align: center;
  -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
}

.socialbox i {display: block; font-size: 40px; line-height: 90px; background: #f5f5f5; }
.socialbox ul { list-style: none; padding: 10px 0; }
.socialbox ul li {display: block; width: 50%; float: left; }
.socialbox ul li:first-child { border-right: 1px solid #f5f5f5; }
.socialbox ul li strong { display: block; font-size: 20px; }
.socialbox ul li span { color: #d4d4d4; font-weight: 500; text-transform: uppercase; font-size: 10px; }
.socialbox.facebook i { background: #3b5998; color: white;  margin: -1px -1px 1px -1px; }
.socialbox.twitter i { background: #00aced;  color: white; margin: -1px -1px 1px -1px; }
.socialbox.linkedin i { background: #4875b4; color: white; margin: -1px -1px 1px -1px; }
/* ################################ social box end ################################ */
.footer { margin:50px 50px 20px 30px; }
/* USAGE */
#usage { background:#eee; background:-webkit-linear-gradient(#f8f8f8,#eee); background:-o-linear-gradient(#f8f8f8,#eee); background:-moz-linear-gradient(#f8f8f8,#eee); background:linear-gradient(#f8f8f8,#eee); position:fixed; z-index:2; bottom:0; left:0; width:100%; height:40px; border-top:1px solid #afafaf;-webkit-box-shadow:0 -2px 1px -1px rgba(0,0,0,0.05);-moz-box-shadow:0 -2px 1px -1px rgba(0,0,0,0.05);box-shadow:0 -2px 1px -1px rgba(0,0,0,0.05); padding-left:50px; }
#usage ul { padding:0;margin:0;font-size:0;line-height:40px; }
#usage ul li { display:inline-block;height:40px;width:20%;font-size:10px;border-right:1px solid #afafaf;}
#usage ul li:last-child { border-right:none!important; }
#usage ul li .title,#usage ul li .bar,#usage ul li .desc { display:inline-block;width:30%;float:left;padding:0 5px; }
#usage ul li .title { font-weight:700;text-align:right;width:20%; }
#usage ul li .text {width:100%;padding:0 15px;float:left; }
#usage ul li .text b {font-weight:700; }
#usage ul li .bar {width:50%; }
#usage ul li .bar .progress { height:10px;margin-top:15px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px; }
/* recent comment */
.recentcomment { list-style-type:none; margin:0px; padding:0px; }
.recentcomment li { border-bottom:1px solid #ccc; margin-bottom:10px;}
.recent-content { font-size:12px; padding:0 0 5px 0; margin-bottom:10px; }
.recent-meta { font-size:10px; color:#A8A8A8; padding:0 0 5px 0px;}
.text { margin:0 0 5px 0; }
/* quick posts */
.quick-post { color:#787878; }
